**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
/nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.idea/GSB_AppliMVC.iml
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
.idea/vcs.xml
