/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11 oct. 2022, 10:42:56
    Author     : logan.raisin
*/
:root{
    --orange-gsb:#ff9933;
    cursor:default;
}

a {
  color: var(--orange-gsb);
  text-decoration:none;
}

a:hover {
  color: var(--orange-gsb);
  text-decoration:none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color : var(--orange-gsb); 
}

.panel-heading {
    background-color: var(--orange-gsb) !important;
    color: white !important;
    font-weight: bold;
}

.panel-info {
    border-color: var(--orange-gsb);
}
table,td,th {
    /*border-collapse: collapse !important;*/
    border:  1px solid var(--orange-gsb) !important;
}

.input-table {
    padding-top: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-control-input{
    padding-top: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.panel-heading-min {
    background-color: var(--orange-gsb) !important;
    color: white !important;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.input-table-final:disabled{
    padding-top: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: not-allowed;
    background-color: rgba(59, 59, 59, 0.20);
    border-color: rgba(118, 118, 118, 0.3);
}

.input-justif-final:disabled{
    padding-top: 5px;
    margin-left: 5px;
    width: 5%;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: not-allowed;
    background-color: rgba(59, 59, 59, 0.20);
    border-color: rgba(118, 118, 118, 0.3);
}

.btn-test{
    margin-bottom: 50px;
}

.affichagenom{
    float:right;
    margin:10px;
}

.affichagenom b{
    background-color:var(--orange-gsb);
}