/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11 oct. 2022, 10:42:56
    Author     : logan.raisin
*/
:root{
    --orange-gsb:#ff9933;
}

a {
  color: var(--orange-gsb);
  text-decoration:none;
}

a:hover {
  color: var(--orange-gsb);
  text-decoration:none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color : var(--orange-gsb); 
}

.panel-heading {
    background-color: var(--orange-gsb) !important;
    color: white !important;
    font-weight: bold;
    
}
.panel-info {
    border-color: var(--orange-gsb);
}
table,td,th {
    /*border-collapse: collapse !important;*/
    border:  1px solid var(--orange-gsb) !important;
}

.input-table {
    padding-top: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}